<!DOCTYPE html>
<html>

   <head>
      <title>Text Input Control</title>
      <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}" />
   </head>
	
   <body style="text-align: center; background-color: #a6dadc">
   <br><br>
	<h1 class="heading" align="center">Mask of the Image</h1>	
   <br>
	<img src="{{url_for('static', filename='/mask_images/mask.png')}}"><br>
   <h2 class="text">The above mask shows the 2 portions of the image that can be a copy-move forgery</h2>
   </body>
	
</html>